@import './variables';
@import './navigation';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import './home';
@import './post-masonry';
@import './masonry-post';
@import './tag-row';
@import './post-grid';

body {
  font-family: "Montserrat", "Times New Roman", serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background: $grey;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 4em 20px;
}

.overlay::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}